<ion-header>
  <ion-toolbar color="dark">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/login"></ion-back-button>
      </ion-buttons>
    <ion-title>Forget Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="login-logo">
    <img src="../../../assets/images/paj-logo.png">
  </div>
  <div class="field-box">
    <ion-list>
      <form #f="ngForm" (ngSubmit)="sendEmail(f)">
        <ion-item>
          <ion-icon class="flaticon-email" slot="start"></ion-icon>
          <ion-input type="email" placeholder="Email" ngModel name="email" ngModel required class="ion-margin-start"></ion-input>
        </ion-item>
      </form>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" size="large" [disabled]="!f.valid" (click)="sendEmail(f);">
      Send <ion-icon class="flaticon-arrow-pointing-to-right"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>