
ion-header{
    padding: 10px; 
    ion-toolbar{
        --background: transparent;
        
        // ion-button{
        //     text-transform: capitalize;
        //     font-weight: normal;
        //     font-size: 17px;
        //     ion-icon{
        //         font-size: 16px;
        //         margin: 0 0 0 7px;
        //         vertical-align: middle;
        //     }
        // }
    }
}



ion-content{
    --background: transparent;
    ion-input {
        --padding-top: 11px;
    }
    &::after{
        content: "";
        background: url(../../../assets/images/splash.jpg) no-repeat 52% center/cover;
        position: fixed; top: 0; right: 0; bottom: 0; left: 0;z-index:-1;
    }
   
    .login-logo{
        text-align: center;
        padding: 50px 0 0;
        position: relative;
        z-index: 2;
        img{
            width: 200px;
        }
    }
  
}
.field-box{
    color: var(--white);
    padding: 20px;
    position: relative;
    z-index: 2;

    ion-list{
        background:transparent;
        ion-item{
            display: block;
            --background: rgba(255, 255, 255, 0.2);
            --color: var(--white);
            border-radius: 5px;
            opacity: 10;
            margin-bottom: 13px;
            ion-icon{
                color: var(--white);
                margin-right: 6px;
                font-size: 17px;
                line-height: 18px;
                // height: 24px;
                width: 24px;
                line-height: 18px;
            }
            .flaticon-visibility-button{
                margin: 0;
                color: #a49d9d;
            }
            &.login-link{
                --background: transparent;
                color: var(--white);
                text-align: center;
                margin:0 auto;
                display: block;
                width: 100%;
                .item-inner{
                    --text-align: center;
                }
                a{
                    margin: 0 0 0 6px;
                }
            }
        }
        ion-select{
            width: 100%;
            display: contents;   
        }
    }
}

ion-footer{
    padding: 10px; 
    ion-toolbar{
        --background: transparent;
        
        ion-button{
            text-transform: capitalize;
            font-weight: normal;
            font-size: 17px;
            ion-icon{
                font-size: 16px;
                margin: 4px 0 0 5px;
                width: 29px;
                height: 20px;
                vertical-align: middle;
            }
        }
    }
}

